{:paths ["src" "test" "resources"]
 :tasks
 {test
  {:doc "Run the pure-cljc board core tests (no external deps)."
   :requires ([clojure.test :as t] [freeboard.board-test] [freeboard.ops-test]
              [freeboard.scene-test] [freeboard.collab-test])
   :task (let [{:keys [fail error]} (t/run-tests 'freeboard.board-test 'freeboard.ops-test
                                                 'freeboard.scene-test 'freeboard.collab-test)]
           (System/exit (if (pos? (+ fail error)) 1 0)))}}}
